body {
    background: #0f172a;
    font-family: Arial;
    color: white;
}

.card {
    width: 300px;
    margin: 120px auto;
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

input, button {
    width: 100%;
    margin: 8px 0;
    padding: 10px;
    border-radius: 6px;
    border: none;
}

button {
    background: #22c55e;
    color: black;
    font-weight: bold;
    cursor: pointer;
}